{% extends "tv_show_app/base.html" %}

{% block title %}Read(All){% endblock %}
{% load static %}

{% block content %}
{% include "tv_show_app/navbar.html" %}

<div class="container mt-4">
    <div class="row align-center mb-4">
        <h1 class="text-black">All Shows</h1>
    </div>
    <div class="col">
        <div class="table-responsive mt-4">
            <table class="table table-bordered table-striped">
                <thead class= "bg-secondary">
                    <th>Id</th>
                    <th>Title</th>
                    <th>Network</th>
                    <th>Release Date</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    {% for show in shows %}
                    <tr>
                        <td>{{show.id}}</td>
                        <td>{{show.title}}</td>
                        <td>{{show.network}}</td>
                        <td>{{show.release_date| date:"M d, Y"}}</td>
                        <td>
                            <a class="text-decoration-none" href="shows/{{show.id}}">
                                <span class="text-dark fs-3">
                                    <i class="far fa-eye"></i>
                                </span>
                            </a> 
                            <a class="text-decoration-none" href="/shows/{{show.id}}/edit">
                                <span class="text-dark fs-3">
                                    <i class="fas fa-pencil-alt"></i>
                                </span>
                            </a>  
                            <a class="text-decoration-none" href="/shows/{{show.id}}/delete">
                                <span class="text-dark fs-3">
                                    <i class="far fa-trash-alt"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="mt-4">
        <a href="shows/new">
            <span class="text-dark fs-3">
            <i class="fas fa-pencil-alt"></i>
            </span>
        </a>
    </div>
</div>

{% endblock %}